*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Noto Sans", sans-serif;

}
a{
    text-decoration: none;
}
.header{
    background-color: #163A24;
    color: #FBFAF7;
}
.conteiner{
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.header_buttons{
    display: flex;
    align-items: center;
    gap: 24px;
}
.btn{
    color: #FBFAF7;
}
.btn2{
    padding-left: 25px;
    padding-right: 25px;
    padding:15px;
    background-color:#198C36 ;
    border-radius: 160px;
    color: #FBFAF7;
}
    .first_section{
        background-image: url(/assets/img/middle-2048.webp);
 }

.first_section_text-block{
    color: #FBFAF7;
    max-width: 400px;
    
}
.first_section_title{
    font-size: 48px;
    color: #FBFAF7;
    font-weight: bold;
    padding: 0%;
    margin: 0
}
.first_section_sub-title{
   font-size: 18px; 
   font-weight: 100;
}
.second_section{
    background-color:#FFF;
}
.photo{}